<h1>Recette de la Bombe Alaska ('Alaska Bomb')</h1>
<br>
<p>Warning : il y a du level ici. Si vous ne savez faire que le brownie au chocolat, passez votre chemin !</p><br>
<div>
    <p>Pour la glace :</p>
    <ul>
        <li>1 litre de glace vanille (maison bien entendu)</li>
        <li>200g de framboises fraîches</li>
        <li>100g de pistaches non salées</li>
    </ul>
    <p>Pour la génoise :</p>
    <ul>
        <li>50g de farine</li>
        <li>30g de poudre d'amande</li>
        <li>1/2 c.à.c. de levure chimique</li>
        <li>2 oeufs</li>
        <li>50g de sucre en poudre</li>
        <li>30g de beurre fondu</li>
    </ul>
    <p>Pour la meringue :</p>
    <ul>
        <li>3 blancs d'oeuf</li>
        <li>80g de sucre en poudre</li>
        <li>80g de sucre glace</li>
    </ul>
    <br>
    <p>Instructions :</p>
    <br>
    <p>Chemisez un cul de poule de papier sulfurisé. Attention à bien prendre un cul de poule de la taille de votre moule ou légèrement plus petit.<br>Versez la glace vanille, les framboises et les pistaches en alternant les couches. N'hésitez pas à regarder la vidéo en cas de doute.<br>Lissez avec une cuillère à soupe en placez au congélateur pour 2 heures au minimum. Vous pouvez faire cette partie la veille ou même plusieurs jours à l'avance si besoin.<br>En attendant, préparez la génoise.<br>Préchauffez le four à 160°C.<br>Dans un récipient, mélangez ensemble la farine, la poudre d'amande et la levure. Dans un autre récipient, fouettez ensemble les œufs et le sucre jusqu'à ce que le mélange blanchisse. Ajoutez les poudres (farine, poudre d'amande et levure) et mélangez. Incorporez le beurre fondu et mélangez de nouveau.<br><br>Versez la préparation dans un moule à manqué (20 cm dans l'idéal) beurré et fariné. Enfournez 15 minutes.<br>Laissez refroidir complètement.</p>
    <p>Pour la meringue, fouettez les blancs en neige en ajoutant progressivement le sucre en poudre. Fouettez une dizaine de minutes, à forte vitesse, jusqu'à ce que les blancs soient bien fermes.<br>Incorporez ensuite le sucre glace et fouettez de nouveau 30 secondes à vitesse moyenne.<br><br>Démoulez la génoise et placez-la directement sur votre plat de service. Si vous souhaitez l'imbiber, vous pouvez faire chauffer 5 cl d'eau avec 30 g de sucre en poudre et 1 cuillère à soupe de Grand Marnier. Portez à ébullition et laissez bouillir 3 minutes.<br>Imbibez le biscuit de sirop avec un pinceau alimentaire.<br><br>Démoulez la glace et placez-la sur la génoise.<br>Recouvrez ensuite entièrement de meringue en faisant attention à ne laisser aucun trou. C'est important car la meringue empêche la glace de fondre quand vous passerez le chalumeau !<br><br>Avec une spatule, formez des petites vagues avec la meringue, tout autour de la bombe Alaska.<br><br>Yummi !</p>
</div>
