/* * * * * * * * * * * * * * */
/* G * E * N * E * R * A * L */
/* * * * * * * * * * * * * * */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Coming Soon', cursive;
}

a {
    text-decoration:none;
    color:#586F99;
    font-weight:bold;
}


/* * * * * * * * * * * * */
/* H * E * A * D * E * R */
/* * * * * * * * * * * * */

header h3 {
    margin-bottom:10px;
}

header h1, header h3 {
    text-align : center;
    font-family: 'Homemade Apple', cursive;
    padding:15px;
}

header img {
    width:50%;
    margin-left:25%;
}

menu {
    width:90%;
    margin:auto;
}

menu div {
    padding:15px 0;
    display:flex;
    justify-content: space-between;
}

menu a:hover {
    position:relative;
    top:-5px;
}

menu hr {
    height:3px;
    background-color:black;
}

h4 {
    font-size:1.2em;
}

#else_visuel {
    text-align: center;
}

#else_visuel img {
    width:90%;
}

/* * * * * * * * * * * * * * * * * * * * */
/* P * O * S * T * S * * * L * I * S * T */
/* * * * * * * * * * * * * * * * * * * * */

#home_widgets {
    width:90%;
    margin:50px auto;
    display:flex;
    flex-wrap: wrap;
}

#home_widgets > div {
    margin-bottom:20px;
    width:50%;
}

#last_comment, #about_author {
    width:50%;
    /*padding: 10px;*/
}

#last_posts {
    width:90%;
    margin: 40px auto;
    text-align:justify;
}

#signature {
    height:30px;
    padding-left:10px;
}

#post_extract {
    margin-top: 30px;
}

#home_widgets h1, #last_posts h1 {
    color:#c5b39b;
}

#home_widgets > div {
    padding : 0 20px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * */
/* S * I * N * G * L * E * * * P * O * S * T * S */
/* * * * * * * * * * * * * * * * * * * * * * * * */

.nav_disabled {
    visibility:hidden;
}

#single_post {
    width:90%;
    margin:50px auto;
    text-align:justify;
}

#see_comments, #add_comment {
    color:#586F99;
}

#see_comments:hover, #add_comment:hover {
    cursor:pointer;
}

#comments_block, #add_comment_block {
    display:none;
}

#comment_signal {
    color:red;
    font-weight:normal;
}

#comment_signal:hover {
    cursor:pointer;
}


/* * * * * * * * * * * * * * * * * * * * */
/* M * I * S * C * * * P * A * G * E * S */
/* * * * * * * * * * * * * * * * * * * * */

#page_content {
    width:90%;
    margin:30px auto;
}

#bear_pic {
    width:100%;
}

#author_pic {
    width:20%;
    float:right;
}
