/* * * * * * * * * * * * * * */
/* G * E * N * E * R * A * L */
/* * * * * * * * * * * * * * */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Coming Soon', cursive;
}

a {
    text-decoration:none;
    color:#586F99;
    font-weight:bold;
}

.plain_link {
    text-decoration:none;
    color:black;
}


/* * * * * * * * * * * * */
/* H * E * A * D * E * R */
/* * * * * * * * * * * * */

header h3 {
    margin-bottom:10px;
}

header h1, header h3 {
    text-align : center;
    font-family: 'Homemade Apple', cursive;
    padding:15px;
}

header img { /* homepage only */
    width:50%;
    margin-left:25%;
}

#menu {
    width:90%;
    margin:auto;
}

#menu menu {
    padding:15px 0;
    display:flex;
    justify-content: space-between;
}

#menu a:hover {
    position:relative;
    top:-3px;
}

#menu hr {
    height:3px;
    background-color:black;
}

h4 {
    font-size:1.2em;
}


/* * * * * * * * * * * * * * * * * * */
/* H * O * M * E * * * V * I * E * W */
/* * * * * * * * * * * * * * * * * * */

#home_widgets {
    width:90%;
    margin:50px auto;
    display:flex;
    flex-wrap: wrap;
}

#home_widgets > div { /* 4 blocks */
    margin-bottom:20px;
    width:50%;
    padding : 0 20px;
}

#last_comment, #about_author {
    width:50%;
    /*padding: 10px;*/
}

#press_review {
    padding-left:10px;
    border-left:1px #c5b39b solid;
}

#last_posts {
    width:90%;
    margin: 40px auto;
    text-align:justify;
}

.signature {
    height:30px;
    padding-left:10px;
}

.post_extract {
    margin-top: 30px;
}

#home_widgets h1, #last_posts h1 {
    color:#c5b39b;
    font-family: 'Homemade Apple', cursive;
    font-size:1.7em; /* increased */
}


/* * * * * * * * * * * * * * * * * * * * * * * * */
/* S * I * N * G * L * E * * * P * O * S * T * S */
/* * * * * * * * * * * * * * * * * * * * * * * * */

.nav_disabled { /* navigation on reading mode */
    visibility:hidden;
}

#single_post {
    width:90%;
    margin:50px auto;
    text-align:justify;
}

.no_comments { /* no mention about reading comments when there are none */
    display:none;
}

#see_comments, #add_comment {
    color:#586F99;
}

#see_comments:hover, #add_comment:hover {
    cursor:pointer;
}

#comments_block, #add_comment_block {
    display:none;
}

#comment_signal {
    color:red;
    font-weight:normal;
}

#comment_signal:hover {
    cursor:pointer;
}

.signal_warning {
    color:red;
}

#add_comment_block input, #add_comment_block textarea {
    padding:6px;
}

#add_comment_block * {
    margin : 2px 0;
}

#comment_form div:first-child input, #comment_form textarea {
    width:40%;
}


/* * * * * * * * * * * * * * * * * * * * */
/* M * I * S * C * * * P * A * G * E * S */
/* * * * * * * * * * * * * * * * * * * * */

#else_visuel { /* for template header img */
    text-align: center;
}

#else_visuel img {
    width:90%;
}

#page_content {
    width:90%;
    margin:30px auto;
}

#bear_pic {
    width:100%;
}

#author_pic {
    width:20%;
    float:right;
    max-width:275px;
}

#connexion_form input, #pwd_recovery_form input {
    width:40%;
    padding:6px;
    margin:2px 0;
}

#connexion_form input:last-child, #pwd_recovery_form input:last-child {
    width:auto;
}

#contact_bloc {
    display:flex;
    justify-content: space-between;
}

#send_mail_form {
    width:70%;
}

#send_mail_form input, #send_mail_form textarea {
    width:100%;
    padding:6px;
    margin:2px 0;
}

#send_mail_form input:last-child {
    width:auto;
}


/* * * * * * * * * * * * */
/* F * O * O * T * E * R */
/* * * * * * * * * * * * */

footer {
    width:90%;
    margin:auto;
    text-align:center;
}

footer hr {
    height:3px;
    background-color:black;
}

footer div {
    padding:15px 0;
    display:flex;
    justify-content: space-around;
}

footer p a, footer p {
    color:#c5b39b;
    text-decoration:none;
    font-weight:normal;
}

footer p a:hover {
    color:#586F99;
}


/* * * * * * * * * * * * * * * * */
/* B * A * C * K * * * E * N * D */
/* * * * * * * * * * * * * * * * */

#admin_content {
    width:90%;
    margin:30px auto;
}

#admin_content ul {
    list-style-type: none;
    padding-left:30px;
}

.changeLink {
    color:orange;
}

.delete_link {
    color:red;
}

.changeLink, .delete_link {
    margin-left:15px;
}

#new_title, #modified_title {
    width:100%;
}

#logged_link {
    color:green;
    font-weight:bold;
}

#new_chapter form a, #update_chapter form a, #change_address_form a, #change_pwd_form a {
    margin-left: 30px;
}

#new_chapter_submit, #modified_chapter_submit, #new_mail_submit, #new_pwd_submit { /* changes submit buttons style */
    padding:0;
    background:none;
    border:0 none;
    cursor:pointer;
    color:#586F99;
    font-weight:bold;
    font-size: 1em;
}

.allow_comment_link {
    color:green;
}

.delete_comment_link {
    color:red;
    margin-left:25px;
}

#new_log_address, #new_log_pwd, #new_log_pwd_confirm, #old_log_pwd {
    width:40%;
    padding:6px;
    margin:2px 0;
}
